.menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  color: #fff;
  font-size: 20px;
  width: 100%;
  overflow: hidden;
  border: none;
  cursor: default;
  border-radius: 0 0 16px 16px;

  &--categories {
    background-color: #101010;
    display: flex;
    flex-direction: column;
    width: 360px;
  }

  &--category {
    > a {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 18px 20px;

      &:hover {
        background: rgb(38, 38, 38);
        color: #fff;
      }
    }

    &--title {
      margin-left: 8px;
    }
  }

  &--quicklinks {
    width: 100%;
    background-color: rgba(32, 32, 32, 0.52);
    backdrop-filter: blur(16px);
  }
}

.header--menu:hover .menu {
  transition: all 0.3s;
  display: flex;
}

.quicklinks {
  display: none;
  justify-content: center;
  margin-top: 10px;

  &--wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-between;
  }

  &--properties {
    display: flex;
    flex-direction: column;
    align-items: center;

    > a {
      margin-bottom: 8px;
    }

    &--title {
      margin-bottom: 16px;
      padding: 8px 16px;
      border-radius: 25px;
      background-color: #fff;
      color: #262626;
      font-weight: 800;
    }
  }
}
