:root {
  --device-white: #fff;
  --device-black-grey: #333333;
  --device-black: #101010;
  --device-dark: #262626;
  --device-light: #ededed;
  --device-dark-blue: #262262;
  --device-blue: #385898;
  --device-light-blue: #1c71b9;
  --device-red: #EA5300;
  --device-dark-red: #B24008;
  --device-light-orange: #FFBA09;
  --device-orange: #fbac2a;
  --device-dark-orange: #F48C07;
  --device-grey: #C4C9D9;
  --device-dark-grey: #808080;
  --device-light-grey: #F5F6FB;
  --device-medium-grey: #a0a0a0;
  --device-light-green: #5cba48;
  --device-purple: #8c57a7;
  --device-dark-purple: #673ab7;
  --device-rose: #d7298f;
  --device-red: #ff0000;
}

body,
html {
  margin: 0;
  padding: 0;
  font-style: normal;
}

body[data-theme='dark'] {
  --colors-text: var(--device-white);
  --colors-bg: var(--device-dark);
  --colors-ui-base: hsl(209, 23%, 22%);
}

body.night {
  background-color: var(--device-dark);
  color: var(--device-white);
}

body[data-theme='light'] {
  --colors-text: var(--device-dark);
  --colors-bg: var(--device-light);
}

body {
  height: 100vh;
  margin: 0;
  color: var(--colors-text);
  background-color: var(--colors-bg);
}

*,
::after,
::before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
  // color: var(--device-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--device-dark-orange);
  border-radius: 2px;
}
