.footer {
  max-width: 1400px;
  margin: 16px auto 0;
}

.upper-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  border-top: 1px solid var(--device-black-grey);

  > div {
    display: flex;
    flex-direction: column;
    color: var(--device-medium-grey);
  }
  
  a,
  span {
    font-size: 18px;
  }

  h5 {
    margin: 16px 0;
  }
}

.lower-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-top: 1px solid var(--device-black-grey);
  color: var(--device-medium-grey);

  &--logo {
    svg {
      width: 40px;
      height: auto;
    }
  }

  .copyright {
    margin-left: 64px;
  }

  &--media {
    display: flex;

    > a {
      margin-right: 32px;
      transition: all 0.3s ease-in;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        &:nth-child(1) svg {
          fill: var(--device-blue);
        }

        &:nth-child(2) svg {
          fill: var(--device-red);
        }

        &:nth-child(3) svg {
          fill: var(--device-rose);
        }
      }
    }
  }
}