.login {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #101010;
  background-color: var(--device-dark-blue);
  color: #fff;

  &--description {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &--form {
    display: flex;
    flex-direction: column;
    max-width: 324px;
    width: 100%;
    // background-color: #262626;
    border-radius: 16px;

    label {
      font-size: 20px;
    }

    input {
      display: block;
      border: none;
      outline: none;
      background: hsla(0, 0%, 100%, 0.2);
      padding: 15px 25px 15px 15px;
      color: #fff;
      font-size: 16px;
      width: 100%;
      height: 54px;

      &::placeholder {
        color: #fff;
        font-size: 14px;
      }
    }

    &--actions {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      a {
        display: block;
        width: 75px;
        padding: 8px 0 7px 0;
        background-color: orange;
        border-radius: 4px;
        color: var(--device-blue);
        font-size: 12px;
        text-align: center;
      }
    }
  }

  &--input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    border-radius: 8px;
    overflow: hidden;

    > span {
      background: hsla(0, 0%, 100%, 0.2);
      height: 100%;
      padding: 6px 12px;
      line-height: 0;
      display: flex;
      align-items: center;
    }
  }

  .password-see-btn {
    background: hsla(0, 0%, 100%, 0.2);
    height: 100%;
    padding: 6px 12px;
    outline: none;
    border: none;
    cursor: pointer;
  }
}

.forgot-password {
  background: none;
  outline: none;
  border: none;
  margin-bottom: 16px;
  color: #fff;
  font-size: 16px;
}

.login--already {
  margin: 24px 0;
  text-align: center;
  font-size: 14px;

  &--title {
    color: #fff;
    margin-bottom: 0;
    margin-right: 6px;
    font-size: 14px;
  }

  > a {
    color: #fff;
    text-decoration: underline;
  }
}

.error-message {
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-inline: auto;
  padding: 10px;
  margin-bottom: 25px;
  font-size: 14px;
  border: 1px solid red;
  background: rgba(255, 0, 0, 0.1);
  border-radius: 10px;
}
