.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 16px;

  > a {
    margin: 0 4px;
    color: var(--device-white);
    border: 1px solid var(--device-white);
    min-width: 35px;
    height: 30px;
    padding: 0 5px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      background: var(--device-blue);
      color: var(--white);
      border: 1px solid var(--device-blue);
      transition: all 0.2s ease-in-out;
    }

    &.controls {
      width: 60px;
    }
  }

  > span {
    margin: 0 4px;
  }
}

.active {
  background-color: var(--device-blue);
  color: var(--device-white);
  border: 1px solid var(--device-blue) !important;
  pointer-events: none;
}
