header {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  margin-top: 8px;

  &--container {
    background-color: var(--device-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    border-radius: 16px;
    position: relative;
  }

  &--logo {
    padding-left: 16px;

    svg {
      height: auto;
      width: 40px;
    }
  }

  &--menu {
    color: var(--device-medium-grey);
    padding: 18px 38px;
    display: flex;
    white-space: nowrap;
    cursor: pointer;
    font-size: 18px;
    align-items: center;
    height: 100%;

    svg {
      fill: var(--device-white);
      margin-right: 10px;
      font-size: 18px;
    }
  }

  &--main-menu {
    display: flex;
    align-items: center;

    > div {
      margin-left: 16px;
      transition: all 0.3s;

      > a,
      > button,
      .locale-language,
      .logged-in {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        cursor: pointer;
        border: none;
      }

      &:hover {
        background-color: var(--device-black-grey);
        border-radius: 8px;

        svg {
          fill: var(--device-white);
        }
      }
    }

    .header__languages:hover {
      border-radius: 8px 8px 0 0;
    }

    svg {
      font-size: 24px;
    }
  }

  &--favorites {
    margin-left: 38px;
  }

  &--user > a {
    background-color: var(--device-black-grey);
    border-radius: 8px;
    transition: all 0.3s;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--user {
    display: flex;
    align-items: center;
    margin-right: 16px;
    position: relative;

    span {
      margin-left: 8px;
      color: var(--device-medium-grey);
      white-space: nowrap;
    }

    &:hover {
      span {
        color: var(--device-white);
      }
    }
  }
}

.logged-in {
  background-color: rgba(56, 88, 152, 0.5);
  cursor: pointer;
  border-radius: 8px;
  margin: 0;

  span {
    color: var(--device-dark-orange);
    font-weight: 800;
  }

  svg {
    fill: var(--device-dark-orange);
  }

  &--open {
    border-radius: 8px 8px 0 0;
  }
}

.profile-menu {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  backdrop-filter: blur(16px);
  background-color: rgba(56, 88, 152, 0.5);
  padding: 8px 0;
  color: var(--device-dark-orange);
  font-weight: 700;
  border-radius: 0 0 8px 8px;

  > button,
  a {
    padding: 4px;
    margin-bottom: 8px;
  }
}
